
<ng-container>
    <div>
        <canvas
            #canvas
            [id]="options?.idCanvas"
            [style]="{
                'background-color': options?.backgroundColor,
                'border': options?.border
            }">
        </canvas>
    </div>

    <div>
        <button *ngIf="options?.textButtonClean" type="button" id="clean" (click)="clean()">
            {{ options?.textButtonClean }}
        </button>
        <button *ngIf="options?.textButtonImgElement" type="button" id="generateImgElement" (click)="generateImgElement()">
            {{ options?.textButtonImgElement }}
        </button>
        <button *ngIf="options?.textButtonJpg" type="button" id="downloadJpg" (click)="downloadJpg()">
            {{ options?.textButtonJpg }}
        </button>
        <button *ngIf="options?.textButtonPdf" type="button" id="downloadPdf" (click)="downloadPdf()">
            {{ options?.textButtonPdf }}
        </button>
    </div>
</ng-container>
